!!! 5
%html
  %head
    %title ServerMine
    = stylesheet_link_tag 'reset', 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    #header
      = render 'shared/top_navigation'

    #main
      = yield
